<div class="relative h-[100vh_-_60px] overflow-y-auto scroll">
  <dd-favorite-indexes></dd-favorite-indexes>
  <div class="grid grid-cols-9 gap-x-10 px-30 mb-20 h-[calc(100vh_-_336px)]">
    <div class="col-span-2 h-full w-full bg-white rounded-lg rounded-l-3xl">
      <dd-portfolio-summary></dd-portfolio-summary>
    </div>
    <div class="col-span-7 bg-white rounded-lg rounded-r-3xl h-full w-full pt-10 overflow-clip">
      <dd-portfolio-table tableHeight="calc(100vh - 543px)"></dd-portfolio-table>
    </div>
  </div>
</div>
