<div
  class="rounded-full bg-none hover:bg-gray-300 hover:cursor-pointer hover:scale-110 transition-all p-10 text-gray-400 hover:text-white w-[65px] h-[65px]"
>
  <div *ngIf="direction === 'down'" class="flex flex-col items-center justify-center">
    <div class="text-[12px]">{{ text }}</div>
    <mat-icon class="scale-x-[1.5] scale-y-[1.1]"> keyboard_double_arrow_down</mat-icon>
  </div>
  <div *ngIf="direction === 'up'" class="flex flex-col items-center justify-center">
    <mat-icon class="scale-x-[1.5] scale-y-[1.1]"> keyboard_double_arrow_up</mat-icon>
    <div class="text-[12px]">{{ text }}</div>
  </div>
  <div *ngIf="direction === 'left'" class="flex items-center justify-center h-full">
    <mat-icon class="scale-x-[1.5] scale-y-[1.1] mr-5"> keyboard_double_arrow_left</mat-icon>
    <div class="text-[12px]">{{ text }}</div>
  </div>
  <div *ngIf="direction === 'right'" class="flex items-center justify-center h-full">
    <div class="text-[12px]">{{ text }}</div>
    <mat-icon class="scale-x-[1.5] scale-y-[1.1] ml-5"> keyboard_double_arrow_right</mat-icon>
  </div>
</div>
