<div *ngIf="hasUpdate" class="absolute bg-accent z-[1200] w-full">
  <div class="container flex items-center justify-between">
    <p class="text-dark py-20">
      Yay! Site has some new updates. Click on the right button to refresh the page (any unsaved
      progress will be lost).
    </p>
    <div>
      <button (click)="reload()">Refresh</button>
    </div>
  </div>
</div>

<!-- Main pages will be injected here -->
<router-outlet></router-outlet>
<!-- Modal windows outlet -->
<!-- TODO: Need to bind name dynamically, https://github.com/angular/angular/issues/12522 -->
<router-outlet class="z-40" name="standalone-modal"></router-outlet>
