<dd-header-mobile
  *ngIf="indexDetailsStoreService.indexDetails$ | async as indexDetails"
  [title]="indexDetails.stable_index_code"
></dd-header-mobile>
<div class="relative">
  <mat-tab-group [selectedIndex]="tab" animationDuration="500ms" class="bg-white" mat-align-tabs="start">
    <mat-tab [disabled]="!hasLoaded">
      <ng-template mat-tab-label>
        <div>General Information</div>
      </ng-template>
      <ng-template matTabContent>
        <dd-general-information-tab [fullscreen]="fullscreen"></dd-general-information-tab>
      </ng-template>
    </mat-tab>
    <mat-tab [disabled]="!hasLoaded">
      <ng-template mat-tab-label>
        <div>Seasonality</div>
      </ng-template>
      <ng-template matTabContent>
        <dd-seasonality-tab [fullscreen]="fullscreen"></dd-seasonality-tab>
      </ng-template>
    </mat-tab>
    <mat-tab [disabled]="!hasLoaded">
      <ng-template mat-tab-label>
        <div>Correlations</div>
      </ng-template>
      <ng-template matTabContent>
        <dd-index-correlation-tab [fullscreen]="fullscreen"></dd-index-correlation-tab>
      </ng-template>
    </mat-tab>
    <mat-tab [disabled]="!hasLoaded">
      <ng-template mat-tab-label>
        <div>Empirical Modelling</div>
      </ng-template>
      <ng-template matTabContent>
        <dd-empirical-modelling-tab [fullscreen]="fullscreen"></dd-empirical-modelling-tab>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <div class="hidden lg:block">
    <button
      (click)="updateFavorite()"
      [class]="fullscreen ? 'right-10' : 'right-40'"
      class="absolute top-10 cursor-pointer z-10 hover:bg-gray-100"
      color="accent"
      mat-icon-button
      matTooltip="Favorite"
      matTooltipPosition="above"
      type="button"
    >
      <ng-container *ngIf="isFavorite; else elseTemplate">
        <mat-icon class="text-yellow-400">star</mat-icon>
      </ng-container>
      <ng-template #elseTemplate>
        <mat-icon>star_border</mat-icon>
      </ng-template>
    </button>
    <a
      *ngIf="!fullscreen"
      [href]="[standaloneModalRoute.root, standaloneModalRoute.indexDetails, id, tab, 'fullscreen'] | absolutePath: {}"
      class="absolute top-10 right-10 cursor-pointer z-10 transition duration-200 hover:scale-110"
      matTooltip="Opens a new tab."
      matTooltipPosition="below"
      target="_blank"
    >
      <mat-icon>open_in_new</mat-icon>
    </a>
  </div>
</div>
