<div class="flex flex-col relative">
  <form [formGroup]="form" class="text-14 pt-10">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Indexes</mat-label>
      <mtx-select
        [clearable]="true"
        [items]="(indexUUIDs$ | async) || []"
        [required]="true"
        [virtualScroll]="true"
        appendTo="body"
        bindLabel="stable_index_code"
        bindValue="id"
        formControlName="uuid"
      ></mtx-select>
    </mat-form-field>
  </form>
</div>
