<div [style.height.px]="size" [style.width.px]="size">
  <svg viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
    <ng-container [ngSwitch]="name">
      <ng-container *ngSwitchCase="'barley'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Barley-RGB-Teal</title>
        <polygon class="a" points="63.7 96.3 74.77 90 74.77 77.41 63.7 83.75 52.64 77.41 52.64 90 63.7 96.3" />
        <polygon class="a" points="63.7 83.96 74.77 77.66 74.77 65.07 63.7 71.41 52.64 65.07 52.64 77.66 63.7 83.96" />
        <polygon class="a" points="63.7 71.47 74.77 65.17 74.77 52.58 63.7 58.92 52.64 52.58 52.64 65.17 63.7 71.47" />
        <polyline class="a" points="57.95 55.63 57.95 49.06 63.7 45.78 69.45 49.06 69.45 55.63" />
        <polygon class="a" points="63.7 33.37 36.44 49.11 36.44 80.58 63.7 96.32 90.96 80.58 90.96 49.11 63.7 33.37" />
        <line class="a" x1="63.7" x2="63.7" y1="58.92" y2="96.3" />
      </ng-container>

      <ng-container *ngSwitchCase="'basis'">
        <defs>
          <style>
            .a,
            .b {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
            }

            .a {
              stroke-width: 1.79px;
            }

            .b {
              stroke-width: 1.87px;
            }

            .c {
              fill: #10cfc9;
            }
          </style>
        </defs>
        <title>Basis Risk-RGB-Teal</title>
        <line class="a" x1="30.45" x2="96.95" y1="34.59" y2="34.59" />
        <line class="a" x1="30.45" x2="96.95" y1="95.47" y2="95.47" />
        <line class="b" x1="63.7" x2="63.7" y1="86.25" y2="44.93" />
        <polygon class="c" points="71.34 80.06 69.97 78.78 63.7 85.53 57.43 78.78 56.07 80.06 63.7 88.27 71.34 80.06" />
        <polygon class="c" points="71.34 51.12 69.97 52.39 63.7 45.65 57.43 52.39 56.07 51.12 63.7 42.91 71.34 51.12" />
      </ng-container>

      <ng-container *ngSwitchCase="'beef'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Beef-RGB-Teal</title>
        <path
          class="a"
          d="M93.07,80.54s3.24-.81,0-4.46S76.46,61.51,76.46,61.51s.41-7.29-3.64-10.13l-4-2.83s-2-5.85,2-5.36,13-2.74,15-7.6-4.46,0-4.46,0-11.73,2-16.39,2-9.12,5.58-9.12,5.58"
        />
        <path class="a" d="M35.86,94.34l7.39-5.26s17.12,6.48,29.27,0" />
        <path class="a" d="M54.6,52.19S54.77,40,42.74,35.59c-3.73-1.39-4,3.24-4,3.24S37,51,45.69,55.23" />
        <line class="a" x1="32.93" x2="39.44" y1="47.53" y2="47.53" />
        <polyline class="a" points="94.51 79.32 89.68 84.2 84.86 89.08 72.01 89.08" />
      </ng-container>

      <ng-container *ngSwitchCase="'comprehensive'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Comprehensive-RGB-Teal</title>
        <polyline class="a" points="83.4 43.5 92.33 48.65 92.33 58.96" />
        <polyline class="a" points="44.53 43.5 35.6 48.65 35.6 58.96" />
        <line class="a" x1="92.33" x2="35.6" y1="48.65" y2="81.41" />
        <line class="a" x1="35.6" x2="92.33" y1="48.65" y2="81.41" />
        <line class="a" x1="63.97" x2="63.97" y1="32.28" y2="97.78" />
        <polyline class="a" points="72.89 37.43 63.97 32.28 55.04 37.43" />
        <polyline class="a" points="55.04 92.63 63.97 97.78 72.89 92.63" />
        <polyline class="a" points="44.53 86.56 35.6 81.41 35.6 71.63" />
        <polyline class="a" points="83.4 86.56 92.33 81.41 92.33 71.63" />
      </ng-container>

      <ng-container *ngSwitchCase="'contact-advice'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Contact-Advice-RGB-Teal</title>
        <polyline class="a" points="32.22 40.69 32.22 36.3 102.56 36.3 102.56 79.87 98.09 79.87" />
        <polygon
          class="a"
          points="62.12 87.58 24.2 87.58 24.2 44.01 94.54 44.01 94.54 87.58 83.8 87.58 73.21 93.7 62.12 87.58"
        />
      </ng-container>

      <ng-container *ngSwitchCase="'corporate'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Corporate Food Buisiness-RGB-Teal</title>
        <polyline class="a" points="27.46 45.96 45.42 77.06 81.34 77.06 99.3 45.96" />
        <polyline class="a" points="76.37 46.58 69.87 35.33 56.89 35.33 50.4 46.58" />
        <polygon class="a" points="66.19 94.36 27.46 94.36 27.46 46.58 99.3 46.58 99.3 94.36 88.33 94.36 66.19 94.36" />
      </ng-container>

      <ng-container *ngSwitchCase="'diary'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Dairy-RGB-Teal</title>
        <circle class="a" cx="31.75" cy="84.07" r="5.5" />
        <path class="a" d="M70.82,89.57a5.5,5.5,0,0,1,0-11" />
        <path class="a" d="M55.9,66.12a5.51,5.51,0,1,1-11,0" />
        <polygon class="a" points="43.99 49.73 16.36 65.69 16.36 97.6 16.36 97.6 71.62 97.6 71.62 65.69 43.99 49.73" />
        <line class="a" x1="16.36" x2="71.62" y1="65.69" y2="65.69" />
        <polyline class="a" points="96.06 98.89 110.5 98.89 110.5 44.35 102.62 34.05" />
        <polyline class="a" points="96.81 98.89 83.84 98.89 83.84 44.35 91.72 34.05" />
        <rect class="a" height="5.16" width="16.45" x="88.95" y="28.89" />
      </ng-container>

      <ng-container *ngSwitchCase="'document'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 1.99px;
            }
          </style>
        </defs>
        <title>Document-RGB-Teal</title>
        <polygon class="a" points="41.66 29.7 41.66 99.7 91.05 99.7 91.05 47.34 66.35 29.7 41.66 29.7" />
        <line class="a" x1="51.14" x2="81.59" y1="86.04" y2="86.04" />
        <line class="a" x1="51.14" x2="81.59" y1="75.12" y2="75.12" />
        <line class="a" x1="51.14" x2="81.59" y1="64.21" y2="64.21" />
        <line class="a" x1="51.14" x2="81.59" y1="53.29" y2="53.29" />
      </ng-container>

      <ng-container *ngSwitchCase="'farmer'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Farmer-RGB-Teal</title>
        <polygon
          class="a"
          points="36.51 60.12 20.59 69.31 20.59 87.69 36.51 96.88 52.42 87.69 52.42 69.31 36.51 60.12"
        />
        <polygon
          class="a"
          points="94.34 69.07 81.88 76.27 81.88 90.67 94.34 97.87 106.81 90.67 106.81 76.27 94.34 69.07"
        />
        <path class="a" d="M77.32,85.63H58.43v-20L35.59,53.07V38.73S37,32.13,45,32.13H73.91" />
        <polyline class="a" points="70.26 85.63 70.26 55.58 65.71 32.13" />
        <path class="a" d="M101.68,69.92V63.55s-.33-7.74-7.34-7.74H70.26" />
        <polyline class="a" points="85.97 40.78 80.51 40.78 80.51 55.81" />
        <line class="a" x1="35.59" x2="24.74" y1="53.07" y2="53.07" />
        <line class="a" x1="70.26" x2="58.43" y1="78.49" y2="78.49" />
        <line class="a" x1="70.26" x2="58.43" y1="71.97" y2="71.97" />
        <line class="a" x1="46.18" x2="46.18" y1="58.88" y2="32.13" />
      </ng-container>

      <ng-container *ngSwitchCase="'fertiliser'">
        <defs>
          <style>
            .a {
              fill: #10cfc9;
            }

            .b {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Fertiliser-RGB-Teal</title>
        <path class="a" d="M45.17,88.31c3.22,0,3.23-5,0-5s-3.22,5,0,5Z" />
        <path class="a" d="M73.12,79.78c3.22,0,3.22-5,0-5s-3.22,5,0,5Z" />
        <path class="a" d="M53.73,79.78c3.21,0,3.22-5,0-5s-3.23,5,0,5Z" />
        <polygon class="b" points="36.44 48.07 63.7 32.33 90.96 48.07 90.96 95.29 36.44 95.29 36.44 48.07" />
        <polygon class="b" points="63.7 71.54 73.54 65.94 73.54 54.73 63.7 60.38 53.86 54.73 53.86 65.94 63.7 71.54" />
        <line class="b" x1="63.7" x2="63.7" y1="60.23" y2="95.45" />
        <path class="a" d="M82.14,61.78c3.21,0,3.22-5,0-5s-3.23,5,0,5Z" />
        <path class="a" d="M63.7,49.07c3.22,0,3.22-5,0-5s-3.22,5,0,5Z" />
        <path class="a" d="M45.17,61.78c3.22,0,3.23-5,0-5s-3.22,5,0,5Z" />
        <path class="a" d="M82.14,87.51c3.21,0,3.22-5,0-5s-3.23,5,0,5Z" />
      </ng-container>

      <ng-container *ngSwitchCase="'fruit'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Fruit-RGB-Teal</title>
        <path class="a" d="M63.23,94.47a26.78,26.78,0,1,1-8-49.94" />
        <path class="a" d="M73.12,56.54A26.68,26.68,0,0,1,77.29,70.9" />
        <path class="a" d="M96.24,62.69a21.28,21.28,0,0,1-39,17" />
        <path class="a" d="M52.31,81.83a26.77,26.77,0,1,0,49.22-21.09Z" />
        <polygon class="a" points="60.2 55.26 73.92 56.62 81.81 45.48 68.06 44.16 62.24 31.62 54.36 42.76 60.2 55.26" />
        <line class="a" x1="68.06" x2="60.19" y1="44.16" y2="55.26" />
        <line class="a" x1="84.87" x2="77.29" y1="90.6" y2="70.9" />
        <line class="a" x1="68.4" x2="70.65" y1="90.6" y2="73.97" />
        <line class="a" x1="83.81" x2="96.17" y1="67.88" y2="79.4" />
      </ng-container>

      <ng-container *ngSwitchCase="'global'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Global-RGB-Teal</title>
        <polygon class="a" points="64 32.67 36.26 48.69 36.26 80.72 64 96.74 91.74 80.72 91.74 48.69 64 32.67" />
        <line class="a" x1="64" x2="64" y1="85.04" y2="44.37" />
        <line class="a" x1="46.75" x2="81.25" y1="53.93" y2="53.93" />
        <line class="a" x1="43.66" x2="84.34" y1="64.7" y2="64.7" />
        <line class="a" x1="46.75" x2="81.25" y1="75.48" y2="75.48" />
        <circle class="a" cx="64" cy="64.7" r="20.34" />
        <ellipse class="a" cx="63.95" cy="64.7" rx="9.63" ry="20.34" />
      </ng-container>

      <ng-container *ngSwitchCase="'index'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Index-RGB-Teal</title>
        <polyline class="a" points="93.76 49.67 81.7 42.8 69.64 49.67 66.06 70.06 56.22 74.69 44.16 67.83 32.1 74.69" />
        <polyline class="a" points="95.89 100 23.64 100 23.64 30" />
      </ng-container>

      <ng-container *ngSwitchCase="'industry'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Industry-RGB-Teal</title>
        <polygon
          class="a"
          points="99.5 32.2 86.35 32.2 86.35 64.32 79 64.15 79 56.74 62.17 64.32 62.16 64.15 62.17 56.74 45.33 64.32 45.33 64.15 45.33 56.74 29.5 64.32 29.5 97.2 99.5 97.2 99.5 64.32 99.5 32.2"
        />
        <rect class="a" height="14.66" width="9.03" x="77.31" y="57.37" />
        <rect class="a" height="9.03" width="9.03" x="36.72" y="60.19" />
        <rect class="a" height="9.03" width="9.03" x="50.53" y="60.19" />
      </ng-container>

      <ng-container *ngSwitchCase="'oilseed-rape'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Oilseed Rape-RGB-Teal</title>
        <circle class="a" cx="63.4" cy="63.8" r="7.65" />
        <polyline class="a" points="49.01 63.85 34.67 72.13 34.67 88.7 49.01 96.98 63.36 88.7" />
        <polyline class="a" points="63.4 71.44 63.4 88.7 77.75 96.98 92.1 88.7 92.1 72.13 77.75 63.85" />
        <polyline class="a" points="63.36 55.64 63.36 39.07 49.01 30.79 34.67 39.07 34.67 55.64 49.01 63.92" />
        <polyline class="a" points="77.75 63.92 92.1 55.64 92.1 39.07 77.75 30.79 63.4 39.07" />
        <line class="a" x1="71.05" x2="78.17" y1="63.85" y2="63.85" />
        <line class="a" x1="48.39" x2="55.76" y1="63.85" y2="63.85" />
      </ng-container>

      <ng-container *ngSwitchCase="'partnership'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Partnership-RGB-Teal</title>
        <polygon class="a" points="46.3 34.02 19.44 49.52 19.44 80.54 46.3 96.04 73.16 80.54 73.16 49.52 46.3 34.02" />
        <polygon
          class="a"
          points="81.7 34.02 54.84 49.52 54.84 80.54 81.7 96.04 108.56 80.54 108.56 49.52 81.7 34.02"
        />
      </ng-container>

      <ng-container *ngSwitchCase="'pork'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Pork-RGB-Teal</title>
        <path class="a" d="M36.72,95.69h9l17.59-9.37,1.53-.81c4,0,9.87-1.35,10.67-4.35" />
        <path
          class="a"
          d="M66,42.42s4.59-5.28,6-8.11-2.94-2.16-2.94-2.16L55.5,39l-.83.41a3.27,3.27,0,0,1-3.59,0c-2-1.19-14.36-2.19-14.36-2.19"
        />
        <path
          class="a"
          d="M60.15,43.6l5.61,3.24L68.23,46c3-1.77,13-4.76,13-4.76S85.59,40,83.39,44a49.51,49.51,0,0,1-6,8.64"
        />
        <path
          class="a"
          d="M69.83,81.16H82.68l4.82-4.87,4.36-4.41.47-.47s2-5.65-2.56-6-7.18-1-7.57-2.59-4.78-10.14-4.78-10.14"
        />
        <polyline class="a" points="57.99 54.53 65.76 59.01 78.08 51.9" />
      </ng-container>

      <ng-container *ngSwitchCase="'prices'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Prices-RGB-Teal</title>
        <polygon class="a" points="35.6 48.63 63.97 32.25 92.33 48.63 92.33 97.75 35.6 97.75 35.6 48.63" />
        <circle class="a" cx="63.43" cy="45.2" r="4.02" />
        <path class="a" d="M72.57,66.47a8.49,8.49,0,0,0-17,0V87.33h17" />
        <line class="a" x1="64.09" x2="55.6" y1="74.58" y2="74.58" />
      </ng-container>

      <ng-container *ngSwitchCase="'red-diesel'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Red Diesel -RGB-Teal</title>
        <polygon class="a" points="43.48 41.05 63.97 41.05 84.45 52.88 84.45 88.35 43.48 88.35 43.48 41.05" />
        <polyline class="a" points="78.85 48.93 80.96 45.07 74.05 41.25 71.96 45.09" />
        <polygon class="a" points="48.76 46.66 48.76 56.42 58.72 46.66 48.76 46.66" />
      </ng-container>

      <ng-container *ngSwitchCase="'seafood'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Seafood-RGB-Teal</title>
        <polygon class="a" points="45.02 65.16 39.41 55.3 28.19 55.3 33.84 65.16 28.19 75.02 39.41 75.02 45.02 65.16" />
        <path class="a" d="M45,64.25s24.23,33.55,53.55,0" />
        <path class="a" d="M98.57,65.16S74.35,31.61,45,65.16" />
      </ng-container>

      <ng-container *ngSwitchCase="'secure'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Secure-RGB-Teal</title>
        <polygon class="a" points="93.11 81.41 64.75 97.78 36.38 81.41 36.38 32.28 93.11 32.28 93.11 81.41" />
        <path class="a" d="M55.29,55.81V50A9.46,9.46,0,0,1,74.2,50v5.86" />
        <rect class="a" height="23.04" width="32.75" x="48.37" y="55.9" />
        <line class="a" x1="52.15" x2="77.35" y1="61.66" y2="61.66" />
        <line class="a" x1="52.15" x2="77.35" y1="67.42" y2="67.42" />
        <line class="a" x1="52.15" x2="77.35" y1="73.19" y2="73.19" />
      </ng-container>

      <ng-container *ngSwitchCase="'sheep-lamb'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Sheep-Lamb-RGB-Teal</title>
        <polyline class="a" points="44.27 53.69 44.27 70.84 51.67 75.05 59.06 70.84 59.06 53.69" />
        <path
          class="a"
          d="M91.56,74.27s1,.41,3.79,1.83,4-1.83,4-1.83c1.26-1.82-3.16-8.59-3.16-8.59l-7.26-8.84S87.62,39.48,70.89,37c-7.89-8.16-14.52.59-14.52.59s-11-3.79-12.1,7.89c-11.78,0-9.68,11.36-9.68,11.36l-6.72,11.3"
        />
        <polyline class="a" points="96.91 76.46 92.08 81.34 87.26 86.21 68.85 86.21 61.22 94.25" />
        <line class="a" x1="80.13" x2="92.08" y1="76.1" y2="81.34" />
      </ng-container>

      <ng-container *ngSwitchCase="'simple'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Simple-RGB-Teal</title>
        <polygon
          class="a"
          points="63.72 33.13 36.12 49.07 36.12 80.94 63.72 96.87 91.32 80.94 91.32 49.07 63.72 33.13"
        />
        <polyline class="a" points="75.09 53.91 58.3 77.34 51.46 69.75" />
      </ng-container>

      <ng-container *ngSwitchCase="'sme-food-business'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>SME Food Business-RGB-Teal</title>
        <polyline class="a" points="26.51 61.45 45.16 93.02 83 93.02 101.66 61.18" />
        <polyline class="a" points="84.31 54.16 74.21 36.67 54.02 36.67 43.92 54.16" />
        <rect class="a" height="7.3" width="83.4" x="22.27" y="54.02" />
        <line class="a" x1="63.79" x2="63.79" y1="84.74" y2="67.99" />
        <line class="a" x1="75.8" x2="81.07" y1="84.31" y2="68.42" />
        <line class="a" x1="52.55" x2="47.28" y1="84.31" y2="68.42" />
      </ng-container>

      <ng-container *ngSwitchCase="'support'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Support-RGB-Teal</title>
        <polygon class="a" points="63.72 32.28 35.36 48.66 35.36 81.4 63.72 97.78 92.08 81.4 92.08 48.66 63.72 32.28" />
        <circle class="a" cx="63.83" cy="64.79" r="5.65" />
        <line class="a" x1="63.72" x2="63.72" y1="97.78" y2="70.43" />
        <line class="a" x1="63.83" x2="63.83" y1="59.14" y2="32.28" />
        <line class="a" x1="59.02" x2="35.36" y1="67.74" y2="81.4" />
        <line class="a" x1="92.08" x2="68.79" y1="48.66" y2="62.1" />
        <line class="a" x1="68.79" x2="92.08" y1="67.96" y2="81.4" />
        <line class="a" x1="35.36" x2="58.82" y1="48.66" y2="62.2" />
      </ng-container>

      <ng-container *ngSwitchCase="'targeted'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Targeted-RGB-Teal</title>
        <line class="a" x1="63.38" x2="63.38" y1="60.64" y2="97.78" />
        <polyline class="a" points="68.95 63.86 63.38 60.64 57.81 63.86" />
        <circle class="a" cx="63.38" cy="60.64" r="28.36" />
        <circle class="a" cx="63.38" cy="60.64" r="10.03" />
        <circle class="a" cx="63.38" cy="60.64" r="19.2" />
      </ng-container>

      <ng-container *ngSwitchCase="'veg'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2.03px;
            }
          </style>
        </defs>
        <title>Veg-RGB-Teal</title>
        <polygon class="a" points="52.2 45.09 41.48 53.07 41.48 69.02 52.2 98.57 63.69 69.02 63.69 53.07 52.2 45.09" />
        <line class="a" x1="59.48" x2="52.2" y1="37.81" y2="45.09" />
        <line class="a" x1="44.92" x2="52.2" y1="37.81" y2="45.09" />
        <line class="a" x1="52.2" x2="52.2" y1="36.1" y2="44.36" />
        <line class="a" x1="63.69" x2="55.84" y1="69.02" y2="69.02" />
        <line class="a" x1="41.48" x2="47.61" y1="58.06" y2="58.06" />
        <polyline class="a" points="68.63 72.85 74.8 76.42 80.97 72.85" />
        <circle class="a" cx="74.8" cy="88.74" r="11.11" />
      </ng-container>

      <ng-container *ngSwitchCase="'volatility'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Volatility-RGB-Teal</title>
        <polygon class="a" points="51.86 30 31.93 41.35 31.93 64.03 51.86 52.61 71.79 64.03 71.79 41.35 51.86 30" />
        <polygon class="a" points="77.63 100 97.57 88.66 97.57 65.97 77.63 77.39 57.7 65.97 57.7 88.66 77.63 100" />
      </ng-container>

      <ng-container *ngSwitchCase="'wheat'">
        <defs>
          <style>
            .a {
              fill: none;
              stroke: #10cfc9;
              stroke-miterlimit: 10;
              stroke-width: 2px;
            }
          </style>
        </defs>
        <title>Wheat-RGB-Teal</title>
        <polygon class="a" points="64.7 99.82 77 92.81 77 78.81 64.7 85.86 52.4 78.81 52.4 92.81 64.7 99.82" />
        <polygon class="a" points="64.7 86.1 77 79.1 77 65.09 64.7 72.14 52.4 65.09 52.4 79.1 64.7 86.1" />
        <polygon class="a" points="64.7 72.22 77 65.21 77 51.21 64.7 58.26 52.4 51.21 52.4 65.21 64.7 72.22" />
        <polyline class="a" points="58.3 54.6 58.3 47.29 64.7 43.65 71.1 47.29 71.1 54.6" />
        <polygon class="a" points="64.7 29.84 34.39 47.34 34.39 82.34 64.7 99.84 95.01 82.34 95.01 47.34 64.7 29.84" />
        <line class="a" x1="64.7" x2="64.7" y1="58.26" y2="99.82" />
        <line class="a" x1="77" x2="77" y1="55.2" y2="43.17" />
        <line class="a" x1="52.4" x2="52.4" y1="55.2" y2="43.17" />
      </ng-container>
    </ng-container>
  </svg>
</div>
