<div class="font-medium text-20">Before we continue...</div>
<div class="flex justify-center items-center">
  <img src="/assets/illustrations/computer-blank.svg" class="w-[250px] h-[250px]"/>
</div>
<div class="text-[12px] text-grey">
  <div>
    Welcome to Stable {{ name }}! We would love to get to know more about your business, this short process will allow
    us to know what your company does and what commodities you are interested in.
  </div>
  <br />
  <div>After completing the short steps you will be able to:</div>
  <ul class="list-disc pl-30">
    <li>View commodity price charts across our broad library</li>
    <li>Build a watchlist of your most important markets</li>
    <li>Purchase or request quotes on Stable risk management policies</li>
    <li>And more to come!</li>
  </ul>
  <br/>
  <div>This is a one-time process, you can edit your answers later on.</div>
</div>
<br />
<button class="w-full !mb-30" color="primary" mat-flat-button (click)="continue()">Sounds Good!</button>
