<div class="w-[900px] min-h-[700px] relative bg-white md:rounded-3xl md:shadow-md">
  <dd-side-panel></dd-side-panel>
  <div class="py-60 px-100 ml-300">
    <div class="text-35 font-bold mb-10">Two-Factor Verification</div>
    <div class="flex justify-center items-center p-30 mb-20">
      <img src="/assets/illustrations/received-mail.svg" />
    </div>
    <p class="text-[12px] text-grey mb-30">
      A verification email has been sent to you. Please click the link in your inbox to login.
    </p>
  </div>
</div>
