<div class="px-30 py-20 h-[80vh]">
  <div class="font-black text-30 text-dark text-center mb-20">{{ 'Confirmation of ' + (data.status | titlecase) }}</div>
  <div class="overflow-y-auto h-[calc(80vh_-_160px)] mb-20">
    <div class="font-bold text-20 ml-20" id="scroll-to">1. Terms and Conditions</div>
    <div class="ml-40 mb-20">
      <div class="text-15 font-medium">a. Overview</div>
      <div class="text-[12px] text-grey ml-10">
        <div>
          Stable USA Inc. obtains Personal Data about you from our various sources. “You” may be a visitor to one of our
          Sites (“Visitor”), or the end customer of a Visitor entering information on Your behalf (“End Customer”). All
          customers interacting with the Site (directly or indirectly) will be referred to collectively as “Users”.
        </div>
        <div>
          Stable USA Inc.’s platform provides content and data for price risk management purposes in commodities where
          no futures markets exist. Together with our partners, we work with eligible counterparties across the globe to
          help them understand and manage price risk.
        </div>
        <div>
          Stable USA Inc. (“Stable USA Inc.”, “we”, “our” or “us”) cares about the security and privacy of the personal
          data that is entrusted to us.
        </div>
        <div>
          This policy describes the Personal Data that we collect, how we use and share it, your rights and choices, and
          how you can contact us about our privacy practices.
        </div>
        <div>
          We may collect and use personal data when you interact with our website (stableprice.com)(“Site”). This
          Privacy Policy includes important information about your Personal Data and we encourage you to read it
          carefully.
        </div>
      </div>
    </div>
    <div class="ml-40 mb-20">
      <div class="text-15 font-medium">b. Security and Retention</div>
      <div class="text-[12px] text-grey ml-10">
        <div>
          We make reasonable efforts to provide a level of security appropriate to the risk associated with the
          processing of Personal Data. We maintain organizational, technical and administrative measures designed to
          protect Personal Data covered by this Privacy Policy against unauthorized access, destruction, loss,
          alteration or misuse. Your Personal Data is only accessed by a limited number of personnel who need access to
          the information to perform their duties. Unfortunately, no data transmission or storage system can be
          guaranteed to be 100% secure. If you have reason to believe that your interaction with us is no longer secure
          (e.g., you feel that the security of your account has been compromised), please contact us immediately.
        </div>
        <div>
          We retain your Personal Data as long as we are providing the Services to you or our Users (as applicable).
          Even after we stop providing Services directly or indirectly to you, and even if you close your Stable USA
          Inc. account or complete a transaction with a Stable USA Inc. User, we keep your Personal Data in order to
          comply with our legal and regulatory obligations. We may also keep it to assist with our fraud monitoring,
          detection and prevention activities. We also keep Personal Data to comply with our tax, accounting, and
          financial reporting obligations as well as where we are required to retain the data by our contractual
          commitments to our financial partners. In all cases where we keep data, we do so in accordance with any
          limitation periods and record retention obligations that are imposed by applicable law.
        </div>
      </div>
    </div>
    <div class="ml-40 mb-20">
      <div class="text-15 font-medium">c. International Data Transfers</div>
      <div class="text-[12px] text-grey ml-10">
        <div>
          We are a global business. Personal Data may be stored and processed in any country where we do business or our
          service providers do business. We may transfer your Personal Data to countries other than your own country.
          These countries may have data protection rules that are different from your country. When transferring data
          across borders, we take measures to comply with applicable data protection laws related to such transfer.
          Officials (such as law enforcement or security authorities) in those other countries may be entitled to access
          your Personal Data.
        </div>
      </div>
    </div>
    <div class="ml-40 mb-20">
      <div class="text-15 font-medium">d. Overview</div>
      <div class="text-[12px] text-grey ml-10">
        <div>
          Stable USA Inc. obtains Personal Data about you from our various sources. “You” may be a visitor to one of our
          Sites (“Visitor”), or the end customer of a Visitor entering information on Your behalf (“End Customer”). All
          customers interacting with the Site (directly or indirectly) will be referred to collectively as “Users”.
        </div>
        <div>
          Stable USA Inc.’s platform provides content and data for price risk management purposes in commodities where
          no futures markets exist. Together with our partners, we work with eligible counterparties across the globe to
          help them understand and manage price risk.
        </div>
        <div>
          Stable USA Inc. (“Stable USA Inc.”, “we”, “our” or “us”) cares about the security and privacy of the personal
          data that is entrusted to us.
        </div>
        <div>
          This policy describes the Personal Data that we collect, how we use and share it, your rights and choices, and
          how you can contact us about our privacy practices.
        </div>
        <div>
          We may collect and use personal data when you interact with our website (stableprice.com)(“Site”). This
          Privacy Policy includes important information about your Personal Data and we encourage you to read it
          carefully.
        </div>
      </div>
    </div>
    <div class="ml-40 mb-20">
      <div class="text-15 font-medium">e. Security and Retention</div>
      <div class="text-[12px] text-grey ml-10">
        <div>
          We make reasonable efforts to provide a level of security appropriate to the risk associated with the
          processing of Personal Data. We maintain organizational, technical and administrative measures designed to
          protect Personal Data covered by this Privacy Policy against unauthorized access, destruction, loss,
          alteration or misuse. Your Personal Data is only accessed by a limited number of personnel who need access to
          the information to perform their duties. Unfortunately, no data transmission or storage system can be
          guaranteed to be 100% secure. If you have reason to believe that your interaction with us is no longer secure
          (e.g., you feel that the security of your account has been compromised), please contact us immediately.
        </div>
        <div>
          We retain your Personal Data as long as we are providing the Services to you or our Users (as applicable).
          Even after we stop providing Services directly or indirectly to you, and even if you close your Stable USA
          Inc. account or complete a transaction with a Stable USA Inc. User, we keep your Personal Data in order to
          comply with our legal and regulatory obligations. We may also keep it to assist with our fraud monitoring,
          detection and prevention activities. We also keep Personal Data to comply with our tax, accounting, and
          financial reporting obligations as well as where we are required to retain the data by our contractual
          commitments to our financial partners. In all cases where we keep data, we do so in accordance with any
          limitation periods and record retention obligations that are imposed by applicable law.
        </div>
      </div>
    </div>
    <div class="ml-40 mb-20">
      <div class="text-15 font-medium">f. International Data Transfers</div>
      <div class="text-[12px] text-grey ml-10">
        <div>
          We are a global business. Personal Data may be stored and processed in any country where we do business or our
          service providers do business. We may transfer your Personal Data to countries other than your own country.
          These countries may have data protection rules that are different from your country. When transferring data
          across borders, we take measures to comply with applicable data protection laws related to such transfer.
          Officials (such as law enforcement or security authorities) in those other countries may be entitled to access
          your Personal Data.
        </div>
      </div>
    </div>
    <div class="ml-40 mb-20">
      <div class="text-15 font-medium">g. Overview</div>
      <div class="text-[12px] text-grey ml-10">
        <div>
          Stable USA Inc. obtains Personal Data about you from our various sources. “You” may be a visitor to one of our
          Sites (“Visitor”), or the end customer of a Visitor entering information on Your behalf (“End Customer”). All
          customers interacting with the Site (directly or indirectly) will be referred to collectively as “Users”.
        </div>
        <div>
          Stable USA Inc.’s platform provides content and data for price risk management purposes in commodities where
          no futures markets exist. Together with our partners, we work with eligible counterparties across the globe to
          help them understand and manage price risk.
        </div>
        <div>
          Stable USA Inc. (“Stable USA Inc.”, “we”, “our” or “us”) cares about the security and privacy of the personal
          data that is entrusted to us.
        </div>
        <div>
          This policy describes the Personal Data that we collect, how we use and share it, your rights and choices, and
          how you can contact us about our privacy practices.
        </div>
        <div>
          We may collect and use personal data when you interact with our website (stableprice.com)(“Site”). This
          Privacy Policy includes important information about your Personal Data and we encourage you to read it
          carefully.
        </div>
      </div>
    </div>
    <div class="ml-40 mb-20">
      <div class="text-15 font-medium">h. Security and Retention</div>
      <div class="text-[12px] text-grey ml-10">
        <div>
          We make reasonable efforts to provide a level of security appropriate to the risk associated with the
          processing of Personal Data. We maintain organizational, technical and administrative measures designed to
          protect Personal Data covered by this Privacy Policy against unauthorized access, destruction, loss,
          alteration or misuse. Your Personal Data is only accessed by a limited number of personnel who need access to
          the information to perform their duties. Unfortunately, no data transmission or storage system can be
          guaranteed to be 100% secure. If you have reason to believe that your interaction with us is no longer secure
          (e.g., you feel that the security of your account has been compromised), please contact us immediately.
        </div>
        <div>
          We retain your Personal Data as long as we are providing the Services to you or our Users (as applicable).
          Even after we stop providing Services directly or indirectly to you, and even if you close your Stable USA
          Inc. account or complete a transaction with a Stable USA Inc. User, we keep your Personal Data in order to
          comply with our legal and regulatory obligations. We may also keep it to assist with our fraud monitoring,
          detection and prevention activities. We also keep Personal Data to comply with our tax, accounting, and
          financial reporting obligations as well as where we are required to retain the data by our contractual
          commitments to our financial partners. In all cases where we keep data, we do so in accordance with any
          limitation periods and record retention obligations that are imposed by applicable law.
        </div>
      </div>
    </div>
    <div class="ml-40 mb-20">
      <div class="text-15 font-medium">i. International Data Transfers</div>
      <div class="text-[12px] text-grey ml-10">
        <div>
          We are a global business. Personal Data may be stored and processed in any country where we do business or our
          service providers do business. We may transfer your Personal Data to countries other than your own country.
          These countries may have data protection rules that are different from your country. When transferring data
          across borders, we take measures to comply with applicable data protection laws related to such transfer.
          Officials (such as law enforcement or security authorities) in those other countries may be entitled to access
          your Personal Data.
        </div>
      </div>
    </div>
    <div class="ml-40 mb-20">
      <div class="text-15 font-medium">j. Overview</div>
      <div class="text-[12px] text-grey ml-10">
        <div>
          Stable USA Inc. obtains Personal Data about you from our various sources. “You” may be a visitor to one of our
          Sites (“Visitor”), or the end customer of a Visitor entering information on Your behalf (“End Customer”). All
          customers interacting with the Site (directly or indirectly) will be referred to collectively as “Users”.
        </div>
        <div>
          Stable USA Inc.’s platform provides content and data for price risk management purposes in commodities where
          no futures markets exist. Together with our partners, we work with eligible counterparties across the globe to
          help them understand and manage price risk.
        </div>
        <div>
          Stable USA Inc. (“Stable USA Inc.”, “we”, “our” or “us”) cares about the security and privacy of the personal
          data that is entrusted to us.
        </div>
        <div>
          This policy describes the Personal Data that we collect, how we use and share it, your rights and choices, and
          how you can contact us about our privacy practices.
        </div>
        <div>
          We may collect and use personal data when you interact with our website (stableprice.com)(“Site”). This
          Privacy Policy includes important information about your Personal Data and we encourage you to read it
          carefully.
        </div>
      </div>
    </div>
    <div class="ml-40 mb-20">
      <div class="text-15 font-medium">k. Security and Retention</div>
      <div class="text-[12px] text-grey ml-10">
        <div>
          We make reasonable efforts to provide a level of security appropriate to the risk associated with the
          processing of Personal Data. We maintain organizational, technical and administrative measures designed to
          protect Personal Data covered by this Privacy Policy against unauthorized access, destruction, loss,
          alteration or misuse. Your Personal Data is only accessed by a limited number of personnel who need access to
          the information to perform their duties. Unfortunately, no data transmission or storage system can be
          guaranteed to be 100% secure. If you have reason to believe that your interaction with us is no longer secure
          (e.g., you feel that the security of your account has been compromised), please contact us immediately.
        </div>
        <div>
          We retain your Personal Data as long as we are providing the Services to you or our Users (as applicable).
          Even after we stop providing Services directly or indirectly to you, and even if you close your Stable USA
          Inc. account or complete a transaction with a Stable USA Inc. User, we keep your Personal Data in order to
          comply with our legal and regulatory obligations. We may also keep it to assist with our fraud monitoring,
          detection and prevention activities. We also keep Personal Data to comply with our tax, accounting, and
          financial reporting obligations as well as where we are required to retain the data by our contractual
          commitments to our financial partners. In all cases where we keep data, we do so in accordance with any
          limitation periods and record retention obligations that are imposed by applicable law.
        </div>
      </div>
    </div>
    <div class="ml-40 mb-20">
      <div class="text-15 font-medium">l. International Data Transfers</div>
      <div class="text-[12px] text-grey ml-10">
        <div>
          We are a global business. Personal Data may be stored and processed in any country where we do business or our
          service providers do business. We may transfer your Personal Data to countries other than your own country.
          These countries may have data protection rules that are different from your country. When transferring data
          across borders, we take measures to comply with applicable data protection laws related to such transfer.
          Officials (such as law enforcement or security authorities) in those other countries may be entitled to access
          your Personal Data.
        </div>
      </div>
    </div>
    <div class="font-bold text-20 ml-20">2. Confirmation of Contract</div>
    <div class="ml-40">
      <div class="text-15 font-medium">a. Index Specifications</div>
      <div class="text-[12px] text-grey ml-10">
        <div>Stable Index Code: {{ this.data.indexDetails.stable_index_code }}</div>
        <div>Index Provider: {{ this.data.indexDetails.index_provider_id.name }}</div>
        <div>Specifications: {{ this.data.indexDetails.specification }}</div>
        <div>Delivery Point: {{ this.data.indexDetails.delivery_point }}</div>
      </div>
      <div class="text-15 mt-10 font-medium">b. Contract Specifications</div>
      <div class="text-[12px] text-grey ml-10">
        <div>Direction: {{ this.data.direction | titlecase }}</div>
        <div>Coverage Starts: {{ this.startingDate | date: 'YYYY-MM-dd':'+0000' }}</div>
        <div>Coverage Ends: {{ this.endingDate | date: 'YYYY-MM-dd':'+0000' }}</div>
        <div>Strike: {{ this.data.strike }}</div>
        <div>Limit: {{ this.data.limit }}</div>
        <div>Quantity: {{ this.data.quantity }}</div>
        <div *ngIf="data.status === 'purchase'">
          <div>Price Per Unit: {{ this.data.pricePerUnit }}</div>
        </div>
        <div *ngIf="data.status === 'bid'">
          <div>Bid Price: {{ this.data.pricePerUnit }}</div>
          <div>Bid Expiration Date: {{ this.expiryDate | date: 'YYYY-MM-dd':'+0000' }}</div>
          <div>Allow Partial Execution: {{ this.data.is_partial_execution_enabled | boolean }}</div>
        </div>
      </div>
    </div>

    <div class="ml-20">
      <mat-checkbox class="mb-10 text-[12px]" color="primary" [(ngModel)]="checkBoxTnC">
        <div>I agree to the <a class="text-warn">Terms & Conditions</a> and <a class="text-warn">Trading Rules</a></div>
      </mat-checkbox>
      <br />
      <mat-checkbox class="mb-10 text-[12px]" color="primary" [(ngModel)]="checkBoxContractSpecs">
        <div>
          I confirm the above contract details are correct and understand that Stable is not responsible for any
          personal negligence.
        </div>
      </mat-checkbox>
    </div>
    <br />
  </div>

  <button
    mat-flat-button
    color="primary"
    type="button"
    class="w-full"
    [disabled]="!checkBoxTnC || !checkBoxContractSpecs"
    (click)="completeTrade()"
  >
    {{ 'Confirm ' + (data.status | titlecase) }}
  </button>
</div>
